:root {
    --color-text-primary: hsl(0, 0%, 5%);
    --color-text-additional: hsl(0, 0%, 15%);

    --color-font-size-big: 1.5rem;
    --color-font-size-avg: 1.2rem;
    --color-font-size-small: 1rem;

    --color-tab-bg-default: hsl(0, 0%, 85%);
    --color-tab-bg-hover: hsl(0, 0%, 80%);
    --color-tab-bg-active: hsl(0, 0%, 75%);

    --color-box-shadow: hsla(0, 0%, 0%, 0.15);
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Navigation related stuff */

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.nav-link {
    font-size: var(--color-font-size-big);
    text-decoration: none;
    color: var(--color-text-primary);
    letter-spacing: .2em;
    font-weight: 400;
    padding: .6em 0;
    background-color: var(--color-tab-bg-default);
    text-align: center;
    border: none;
    cursor: pointer;
}

.nav-link:hover.nav-link:not(.active) {
    background-color: var(--color-tab-bg-hover);
}

.nav-link.active {
    background-color: var(--color-tab-bg-active);
}

/* widgets */
.widget-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 3.3rem;
}

.widget-container__two-sections {
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
}

.widget {
    padding: 1em;
    box-shadow: 0 0 8px var(--color-box-shadow);
}

.widget-title {
    font-size: var(--color-font-size-avg);
    font-weight: 400;
    letter-spacing: .5em;
    text-align: center;
    margin-bottom: 1.3em;
}

.widget-controls {
    display: grid;
    gap: 20px;
}

/* Slider styles */
.slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider-title {
    font-size: var(--color-font-size-small);
    font-weight: 300;
    letter-spacing: .2em;
}

.slider {
    --bg-color: hsl(0, 0%, 80%); 
    width: 5rem;
    height: 2rem;
    background-color: var(--bg-color);
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    transition: background-color .5s;
    cursor: pointer;
}

.slider::after {
    --bg-color: hsl(0, 0%, 100%);
    --translate-x: 19%;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(var(--translate-x), -50%);
    border-radius: 50%;
    background-color: var(--bg-color);
    z-index: 2;
    transition: transform .5s;
}

.slider.active {
    --bg-color: hsl(209, 57%, 60%);
}

.slider.active::after {
    --translate-x: 214%;
}

/* Toggler component styles */

.toggler-container {
    padding: .6em .9em;
    border: 1px dashed var(--color-box-shadow);
    border-radius: .3em;
    margin-top: 1em;
}

.toggler-title {
    font-size: var(--color-font-size-avg);
    letter-spacing: .3em;
    margin-top: 1em;
    text-align: center;
    font-weight: 400;
}

.togglers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.toggler {
    font-size: var(--color-font-size-small);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.toggler-state-title {
    font-size: inherit;
    letter-spacing: .2em;
    font-weight: 200;
    margin-bottom: .4em;
}

.toggler-state-control {
    --bg-color: hsl(0, 0%, 80%); 
    font-size: inherit;
    width: 6rem;
    height: 2rem;
    background-color: var(--bg-color);
    border-radius: .2em;
}

.toggler.active .toggler-state-control {
    --bg-color: hsl(209, 57%, 60%);
}