body {
    margin: 0px 0;
    background: url("/background.png") no-repeat;
    background-position-x: center;
    background-position-y: top;
    opacity: 1;
}
.control_sw {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 1% 10%;
    vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.head {
    display: flex;
    margin:0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.tablinks{
    background-color: #e3e3e3;
    opacity: 0.8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 33.3%;
    font-family: 'Roboto', sans-serif;
    margin: auto auto;
    outline:none;

}

.head button.active {
    background-color: #ccc;
}

p {
    font-family: 'Roboto', sans-serif;
}
h5{
    font-family: 'Roboto', sans-serif;
}

.lamps {

    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    text-align: left;
    margin:10px auto;
    outline: 1px dashed #e3e3e3; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    min-width: 350px;
}

.ir {

    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    position: relative;
    text-align: left;
    margin:10px auto;
    outline: 1px dashed #e3e3e3; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    min-width: 350px;
}

.music {

    display: inline-block;
    float: left;
    width: 30%;
    height: 450px;
    position: relative;
    text-align: left;
    margin:10px auto;
    outline: 1px dashed #e3e3e3; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    min-width: 350px;
}
.js-super-picker-container .picker-years {
    width: 100px;
}
.lamp_chart {

    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    text-align: left;
    margin:10px auto;
    outline: 1px dashed #e3e3e3; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    min-width: 350px;
}
#trigger1 {
    display: block;
    background-color: #b8b8b8;
    width: 200px;
    border-radius: 5px;
    /*border: 1px solid #999;*/
    text-align: center;
    align-items : center;
    height: 35px;
    margin-right: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 40px;

}

#add_button {
    width: 70px;
    height: 35px;
    position: relative;
    display: inline-block;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #4CAF50;
    border-radius: 5px;
    border: 0px solid #999;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    outline:none;
}
.add_block {
    border-radius: 5px;
    margin:20px;
    display: flex;
    align-items : center;
    height: 37px;
    width: 100%;
    background-color: #d5d5d5;
}
.pump_chart {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    text-align: left;
    margin:10px auto;
    outline: 1px dashed #e3e3e3; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    min-width: 350px;
}

table tr td:empty {
    width: 50px;
}

table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}
